@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background: white; 
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 100, 86, 161;
    --background-end-rgb: 81, 83, 157;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to right,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background: var(--background);
}

button {
  padding: 8px 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 1.25rem;
  cursor: pointer;
}

.button {
  padding: 6px 12px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

header {
  color: #314C68;
  font-size: 2.25rem;
  font-weight: 600;
  display: block;
  position: relative;
  z-index: 0;
  width: fit-content;
  margin-bottom: 24px;
}

header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  background: #F7FBFC;
  bottom: 10px;
  z-index: -1;
  margin-left: 8px;
}

.project-card:nth-child(odd) {
  flex-direction: row;
}

.project-card:nth-child(even) {
  flex-direction: row-reverse;
}